.listItem {
  background: var(--color-main-white);
  color: var(--color-main-black);
  padding: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listItem div:first-child {
  display: flex;
  flex-direction: column;
}

.listItem h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: center;
  padding-bottom: 20px;
}

.listItem img {
  height: 200px;
  width: auto;
  align-self: center;
}

.authors span:after {
  content: ", ";
}

.authors span:last-child:after {
  content: "";
}

.listItem button {
  margin: 20px auto 0 auto;
  display: block;
  text-decoration: none;
}
