.btn {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: inherit;
  text-decoration: none;
}

.primary {
  color: var(--color-main-black);
  background-color: var(--color-main);
}

.primary:hover,
.primary:focus {
  background-color: var(--color-main-light);
}

.secondary {
  color: var(--color-main-black);
  background-color: var(--color-main-light);
}

.secondary:hover,
.secondary:focus {
  background-color: var(--color-main-lighter);
}

.tertiary {
  color: var(--color-main-white);
  background-color: var(--color-main-darker);
}

.tertiary:hover,
.tertiary:focus {
  background-color: var(--color-main-dark);
}

.error {
  color: var(--color-white);
  background-color: var(--color-dark-red);
}

.error:hover,
.error:focus {
  background-color: var(--color-red);
}
